@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.page-body {
	background-color: #ffffff;
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.main-logo {
	display: inline-block;
	background: #ee3643;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	line-height: 0;
}
.general-button {
	text-align: center;
	margin: 0;
	background-color: #ee3643;
	padding-top: 11px;
	padding-bottom: 9px;
	color: inherit;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	border: none;
}
.button {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	border: none;
	background-color: initial;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
/*Header*/

.page-header {
	background: #f1f5f7;
}
.header-title {
	background-color: #293449;
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0;
	max-height: 42px;
}
.header-logo {
	padding: 12px 56px 17px 55px;
	position: relative;
	left: 0;
	top: 2.5px;
}
.search-form {
}
.header-site-search {
	width: 272px;
	height: 42px;
}
.header-cart-interface {
}
.cart-interface__list {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.cart-interface__list a {
	color: inherit;
}
.bookmarks {
	margin-left: 20px;
	margin-right: 50px;
}
.bookmarks a::before {
	content: url("/img/icons/bookmarks.svg");
	margin-right: 9px;
}
.cart a::before {
	content: url("/img/icons/cart.svg");
	margin-right: 9px;
}
.cart {
	margin-right: 26px;
}
.make-order {
	background-color: #5fbb2d;
	display: inline-block;
	padding: 9px 16px 9px 19px;
}
.header-caption {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	font-weight: 400;
	grid-area: caption;
	margin: 0;
	padding-right: 24px;
	padding-left: 27px;
	margin-inline: 0;
	margin-block: 0;
}

.tel-box {
	padding: 0;
	border: 3px solid #ffffff;
	display: inline-block;
	grid-area: tel;
	text-align: center;
	align-self: center;
}
.tel-box a {
	font: inherit;
	color: #ee3643;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
}
.header-user-interface {
	grid-area: interface;
	justify-self: end;
}
.user-interface {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-block: 0;
	padding-inline: 0;
}
.user-interface__item {
	display: inline-block;
	margin-left: 10px;
}
.user-interface__item:first-child {
	margin-left: 0;
}
.header-content {
	margin-top: 41px;
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: auto max-content 1fr;
	grid-template-areas:
		"caption tel interface"
		"caption adress .";
	column-gap: 69px;
}
.login-icon {
	margin-right: 6px;
	vertical-align: middle;
}
.come-in {
	padding: 12px 27px 12px 19px;
}
.registration {
	padding: 12px 24px;
}
.come-in,
.registration {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	background: #ffffff;
}
.adress {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	grid-area: adress;
	margin: 0;
}

.header-site-navigation {
	margin-top: 40px;
	background: #32425c;
	margin-bottom: 60px;
	padding: 16px 53px 20px;
}
.site-navigation-list {
	margin: 0;

	list-style: none;
	padding-inline: 0;
	padding-block: 0;
	margin-inline: 0;
	margin-block: 0;
	display: flex;
	gap: 56px;
}
.site-navigation-list ul {
	padding: 0;
}
.site-navigation__item a {
	color: inherit;
}
.site-navigation__item:last-child {
	padding-right: 0;
}

/*Footer*/

.page-footer {
	background: #32425c;
}
.footer-logo {
	padding: 20px 41px 25px;
	grid-area: logo;
}
.footer-content {
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-template-columns: repeat(2, max-content);
	column-gap: 58px;
	row-gap: 22px;
	grid-template-areas:
		"logo nav-list"
		"adress prod-list";
	justify-items: start;
	margin-bottom: 54px;
}
.footer-navigation {
	gap: 58px;
	grid-area: nav-list;
	padding-top: 37px;
}
.footer-product-list {
	gap: 58px;
	justify-self: end;
}

.footer-product-list__item a {
	color: #ffd180;
	grid-area: prod-list;
	padding-top: 5px;
}
.tel-adress {
	grid-area: adress;
	margin: 0;
}
.tel-adress a {
	color: inherit;
}
.page-footer__footer {
	background: #293449;
}
.footer__content {
	display: grid;
	grid-template-columns: 380px 210px auto;
	column-gap: 20px;
	padding-top: 36px;
	padding-bottom: 34px;
}
.copyright {
	margin: 0;
}
.social-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-left: -10px;
}
.social__item {
}
.feedback,
.developer {
	margin: 0;
}

.feedback a,
.developer a {
	color: #ffd180;
}
.developer-contacts {
	display: flex;
	align-items: end;
	gap: 50px;
}

/*Product catalog*/

.product-catalog__list {
	margin: 59px 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"materials tools technics"
		"slider slider discounts"
		"slider slider delivery";
	gap: 20px;
	margin-bottom: 70px;
}
.catalog-item {
	overflow: hidden;
	display: grid;
	grid-template-columns: 23px min-content 1fr;
	grid-template-rows: 20px max-content 14px max-content 21px;
	grid-template-areas:
		". . icon"
		". title icon"
		". . icon"
		". button icon"
		" . . icon";
}
.catalog-item:nth-child(1) {
	grid-area: materials;
	background-color: #ffbf47;
}
.item-content {
}
.catalog-item:nth-child(2) {
	grid-area: tools;
	background-color: #3bbce3;
}
.catalog-item:nth-child(3) {
	grid-area: technics;
	background-color: #dc91d8;
}
.catalog-item:nth-child(4) {
	grid-area: discounts;
	background-color: #8ed78f;
}
.catalog-item:nth-child(5) {
	grid-area: delivery;
	background-color: #ffbf47;
}
.new {
	transform: translate(230px, 10px) rotate(45deg);
	padding: 0px 0px 0px 0px;
	background-color: #ee3643;
	text-transform: uppercase;
	display: flex;
	font-size: 14px;
	line-height: 18px;
	width: 100px;
	height: 30px;
	justify-content: center;
	align-items: center;
	z-index: 4;
}
.catalog-item__title {
	margin: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	grid-area: title;
}

.catalog-item__button {
	width: 135px;
	height: 38px;
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	color: inherit;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	grid-area: button;
}

.catalog-item__icon {
	grid-area: icon;
	display: block;
	justify-self: center;
	align-self: center;
}

/*Promo slider*/
.promo-slider {
}
.catalog-slider {
	grid-area: slider;
}
.slide {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	grid-template-columns: 24px max-content max-content 79px min-content 1fr min-content 20px;
	grid-template-areas:
		". title title title title title title title"
		". left-shape .  . . . right-shape ."
		". button button . pagination . . .";
	height: 100%;
}
.pagination-box {
	display: flex;
	grid-area: pagination;
}
.pagination {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
	border: #ffffff 4px;
	position: relative;
	margin-right: 10px;
	margin-top: 19px;
}
.pagination_checked {
	background-color: red;
	width: 6px;
	height: 6px;
	position: absolute;
	border-radius: 50%;
	transform: translate(35%, 35%);
}
.slide-perforators {
	background-color: #293449;
	background-image: url("../img/perforators.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide-drills {
	background-color: #293449;
	background-image: url("/img/drills.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: none;
}
.slider-title-box {
	grid-area: title;
}
.slider-title {
	margin: 23px 0 5px 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.slider-text {
	margin: 0;
}
.slider-shape__left {
	grid-area: left-shape;
}
.slider-shape__right {
	grid-area: right-shape;
}

.slider-button {
	grid-area: button;
	justify-self: start;
	padding-left: 46px;
	padding-right: 46px;
	margin-bottom: 27px;
}

/*Popular goods*/

.popular-goods {
	margin-bottom: 70px;
}
.title-box {
	display: flex;
	justify-content: space-between;
	background: #f9f5f0;
	align-items: center;
}
.popular-goods__title-box {
	margin-bottom: 20px;
}
.title-box__title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	margin-left: 28px;
}
.title-box__button {
	color: #ffffff;
	padding-left: 24px;
	padding-right: 24px;
	margin: 25px 14px 26px 0;
}
.popular-goods__list {
	display: flex;
	padding: 0;
	list-style: none;
	gap: 20px;
	justify-content: space-around;
}
.popular-goods__item {
	display: grid;
	align-items: center;
	justify-content: center;
	min-width: 220px;
	overflow: hidden;
	border: 1px solid #eaeaea;
	grid-template-columns: 184px;
}
.item-popular {
}
.item-popular__new {
	transform: translate(131px, 7px) rotate(45deg);
}
.icon-box {
	display: grid;
	position: relative;
}
.item-popular__icon {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.item-popular__buy-button {
	background: #63a63e;
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 8px;
	margin-left: 22px;
	margin-right: 22px;
	opacity: 0;
}
.item-popular__bookmarks-button {
	border: 3px solid #63a63e;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: inherit;
	color: #32425c;
	margin-bottom: 54px;
	margin-left: 22px;
	margin-right: 22px;
	opacity: 0;
}
.item-popular__title {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 7px;
	text-align: center;
}
.item-popular__old-price {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: #a9a9a9;
	margin: 0;
	text-align: center;
}
.item-popular__discount-price {
	display: inline-block;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	margin-top: 13px;
	margin-bottom: 21px;
	margin-right: 32px;
	margin-left: 25px;
	position: relative;
}
.item-popular__discount-price::after {
	content: "";
	position: absolute;
	border: 19px solid transparent;
	border-left: 20px solid #ee3643;
	right: -39px;
	bottom: 0;
}

/*Popular-Manufacturers*/

.popular-manufacturers {
	margin-bottom: 70px;
}
.popular-manufacturers__title {
	margin-bottom: 20px;
}
.popular-manufacturers__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
}
.popular-manufacturers__item {
	align-self: center;
	justify-self: center;
}

/*Services*/

.services {
	background: #f1f5f7;
	color: #000000;
	min-height: 522px;
}
.services-container {
	padding-top: 64px;
	display: grid;
	grid-template-rows: min-content min-content auto;
}
.services-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
}
.title-services {
	margin-bottom: 25px;
}
.services-text {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}
.text-services {
	margin-bottom: 70px;
}
.services-content {
	display: grid;
	column-gap: 80px;
	grid-template-columns: 240px 1fr;
	height: 100%;
}
.services-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.service-item {
	background-color: rgba(50, 66, 92, 1);
	padding: 13px 0 17px 22px;
	box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}
.service-item_checked {
	background: #ffffff;
	box-shadow: 0px 1px 0px #ffffff;
}
.service-item__delivery {
}
.service-button {
}
.button {
}
.service-item__guarantee {
}
.service-item__credit {
}
.service-info {
}
.service-info__delivery {
	background: url("/img/service-delivery.png") no-repeat right / contain;
}
.service-info__title {
	margin-bottom: 25px;
}
.service-info__text {
}
.service-info__icon {
}
.service-info__guarantee {
	display: none;
}
.service-info__credit {
	display: none;
}
.general-button {
}
.service-info__button {
}
