@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.page-body {
	background-color: #ffffff;
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.main-logo {
	display: inline-block;
	background: #ee3643;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	line-height: 0;
}
/*Header*/

.page-header {
	background: #f1f5f7;
}
.header-title {
	background-color: #293449;
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0;
	max-height: 42px;
}
.header-logo {
	padding: 12px 56px 17px 55px;
	position: relative;
	left: 0;
	top: 2.5px;
}
.search-form {
}
.header-site-search {
	width: 272px;
	height: 42px;
}
.header-cart-interface {
}
.cart-interface__list {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.cart-interface__list a {
	color: inherit;
}
.bookmarks {
	margin-left: 20px;
	margin-right: 50px;
}
.bookmarks a::before {
	content: url("/img/icons/bookmarks.svg");
	margin-right: 9px;
}
.cart a::before {
	content: url("/img/icons/cart.svg");
	margin-right: 9px;
}
.cart {
	margin-right: 26px;
}
.make-order {
	background-color: #5fbb2d;
	display: inline-block;
	padding: 9px 16px 9px 19px;
}
.header-caption {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	font-weight: 400;
	grid-area: caption;
	margin: 0;
	padding-right: 24px;
	padding-left: 27px;
	margin-inline: 0;
	margin-block: 0;
}

.tel-box {
	padding: 0;
	border: 3px solid #ffffff;
	display: inline-block;
	grid-area: tel;
	text-align: center;
	align-self: center;
}
.tel-box a {
	font: inherit;
	color: #ee3643;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
}
.header-user-interface {
	grid-area: interface;
	justify-self: end;
}
.user-interface {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-block: 0;
	padding-inline: 0;
}
.user-interface__item {
	display: inline-block;
	margin-left: 10px;
}
.user-interface__item:first-child {
	margin-left: 0;
}
.header-content {
	margin-top: 41px;
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: auto max-content 1fr;
	grid-template-areas:
		"caption tel interface"
		"caption adress .";
	column-gap: 69px;
}
.button {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	border: none;
	color: #000000;
	font-size: 21px;
	line-height: 21px;

	background: #ffffff;
}
.login-icon {
	margin-right: 6px;
	vertical-align: middle;
}
.come-in {
	padding: 12px 27px 12px 19px;
}
.registration {
	padding: 12px 24px;
}
.adress {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	grid-area: adress;
	margin: 0;
}

.header-site-navigation {
	margin-top: 40px;
	background: #32425c;
	margin-bottom: 60px;
	padding: 16px 53px 20px;
}
.site-navigation-list {
	margin: 0;

	list-style: none;
	padding-inline: 0;
	padding-block: 0;
	margin-inline: 0;
	margin-block: 0;
	display: flex;
	gap: 56px;
}
.site-navigation-list ul {
	padding: 0;
}
.site-navigation__item a {
	color: inherit;
}
.site-navigation__item:last-child {
	padding-right: 0;
}

/*Footer*/

.page-footer {
	background: #32425c;
}
.footer-logo {
	padding: 20px 41px 25px;
}
.footer-content {
}
.footer-navigation {
	gap: 58px;
}
.header-logo {
}
.page-footer__footer {
	background: #293449;
}
.copyright {
}
.social-list {
}
.social__item {
}
.feedback {
}
