/*Footer*/
.page-footer {
  background-color: var(--basic-menu);
}

.footer-content {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 344px 549px;
  column-gap: 47px;
  row-gap: 22px;
  grid-template-areas:
		"logo nav-list"
		"adress prod-list";
  justify-items: start;
  margin-bottom: 54px;
}

.footer-logo {
  @include main-logo;
  padding: 20px 41px 25px;
  grid-area: logo;
  width: 220px;
}

.footer-navigation {
  @include list-style-none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-bottom: 5px;
  align-self: flex-end;
  justify-self: flex-end;
  grid-area: nav-list;

  & li {
    margin-left: 58px; //TODO refactor this margin (overflow)
  }

  & li:first-child {
    margin-left: 0px;
  }

  &__item {
    & a {
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        text-decoration: none;
        opacity: 0.5;
      }
    }
  }
}

.tel-adress {
  rid-area: adress;
  margin: 0;

  & a {
    color: inherit;
  }
}

.footer-product-list {
  @include list-style-none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-top: 5px;
  gap: 58px;
  justify-self: end;

  &__item {
    padding-bottom: 13px;

    & a {
      color: var(--special-yellowlight);
      grid-area: prod-list;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        text-decoration: none;
        opacity: 0.5;
      }
    }
  }
}
.page-footer {
  &__footer {
    background-color: var(--basic-dark-menu);
    & .container {
          display: grid;
          grid-template-columns: 344px 210px auto;
          column-gap: 47px;
          padding-top: 35px;
          padding-bottom: 35px;
    }
  }
}
.copyright {
  margin: 0;
  padding-bottom: 5px;
  @include footer-text;
}

.social-list {
  @include list-style-none;
  display: flex;
}

.social {
  &__item {
    &:hover path:first-child{
      fill: var(--basic-red);
    }
  }
}

.developer-contacts {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  @include footer-text;
  margin-left: -10px;

}

.feedback,
.developer {
  margin: 0;

  a {
    color: var(--special-yellowlight);
    &:hover{
      text-decoration: underline;
    }
    &:active{
      text-decoration: none;
      color: var(--basic-red);
    }
  }
}

