* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.page-body {
  @include basic-menu-text;
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.button {
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.general-button {
  text-align: center;
  margin: 0;
  background-color: var(--basic-red);
  padding-top: 11px;
  padding-bottom: 9px;
}

@mixin list-style-none{
  list-style: none;
  margin: 0;
  padding: 0;
}