* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.page-body {
	@include basic-menu-text;
	background-color: var(--basic-white);
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	position: relative;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.button {
	text-align: center;
	vertical-align: middle;
	border: none;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.general-button {
	text-align: center;
	margin: 0;
	background-color: var(--basic-red);
	padding-top: 11px;
	padding-bottom: 9px;
}
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 999;
}
.modal-show {
	display: block;
	animation: bounce 0.6s;
}

@mixin list-style-none {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin main-logo {
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	line-height: 0;
}
@mixin new($translate...) {
	@include general-button-text;
	background-color: var(--basic-red);
	width: 100px;
	height: 30px;
	justify-content: center;
	align-items: center;
	z-index: 4;
	display: flex;
	padding: 0px 0px 0px 0px;
	transform: translate($translate) rotate(45deg);
}
