.popular-goods {
  margin-bottom: 70px;

  &__title-box {
    margin-bottom: 20px;
  }

  &__list {
    @include list-style-none;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
  }

  &__item {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #eaeaea;
    grid-template-columns: 218px;
    min-height: 318px;
    transition: box-shadow 100ms ease-in-out;
&:hover{
  box-shadow: 0 1px 10px 1px var(--basic-greylight);
}
    &:hover .icon-box {
      display: none;
    }
  }
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--special-beige);

  &__title {
    @include title-text;
    color: var(--basic-menu);
    margin-left: 28px;
  }

  &__button {
    @include general-button-text;
    padding-left: 24px;
    padding-right: 24px;
    margin: 25px 15px 26px 0;
    color: var(--basic-white);
    max-width: 350px;
  }
}

.item-popular {
  &__icon {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 7px;
    margin: -151px auto;
    left: 0;
    top: 138px;

  }
&:hover .item-popular__buy-button ,
&:hover .item-popular__bookmarks-button {
opacity: 1;
}
  .goods-item__button {
    width: 135px;
    height: 38px;
    border-radius: 2px;
  }
  &__buy-button {
    position: relative;
    @include general-button-text;
    background: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    &:hover{
      background-color: #5FBB2D;
    }
    &:active{
      background-color: #518534;
    }
    &::after{
      content: "";
      position: absolute;
      top: 10px;
      left: 30px;
      width: 15px;
      height: 15px;
      background-image: url("/src/img/icons/icon-cart.png");
    }
  }
  .goods-item__button.item-popular__buy-button{
    padding-left: 15px;
  }

  &__bookmarks-button {
    @include general-button-text;
    color: var(--basic-menu);
    border: 3px solid var(--basic-green);
    background-color: inherit;
    margin-bottom: 54px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    &:hover{
      border: 3px solid var(--basic-menu);
    }
    &:active{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

  }

  &__title {
    @include popular-product-title-text;
    margin-top: 0;
    margin-bottom: 7px;
    padding-left: -1px;
    text-align: center;
    min-height: 40px;

  }

  &__old-price {
    @include popular-product-button-text;
    text-decoration-line: line-through;
    color: #a9a9a9;
    margin: 0;
    text-align: center;
  }

  &__discount-price {
    @include popular-product-button-text;
    margin-top: 11px;
    margin-bottom: 21px;
    margin-right: 50px;
    margin-left: 44px;
    position: relative;
    display: inline-block;
    min-width: 124px;

    &::after {
      content: "";
      position: absolute;
      right: -39px;
      bottom: 0;
      @include triangle-right(20px, 19px, var(--basic-red));
    }
  }

  &__new {
    @include new(144px, 7px);
  }
}

.icon-box {
  position: relative;
  transition: display 1s linear;

}
