.popular-manufacturers {
  margin-bottom: 65px;

  &__title-box {
    margin-bottom: 20px;
  }

  &__title {
    @include title-text;
    color: var(--basic-menu);
    margin-left: 28px;
  }

  &__list {
    margin-top: 20px;
    @include list-style-none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 18px;
  }

  &__item {
    align-self: center;
    justify-self: center;
    &:hover{
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }
    &:active{
      opacity: 0.5;
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }
  }
}
.popular-manufacturers-title-box {
  &__button {
    @include general-button-text;
    padding-left: 40px;
    padding-right: 36px;
    margin: 25px 15px 26px 0;
    color: var(--basic-white);
  }
}


.popular-manufacturer {
  &__logo {
    border: 1px solid #EAEAEA;
    object-fit: cover;
  }
}